<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>cronjob example</display-name>
	
	<servlet>
		<servlet-name>cronjob</servlet-name>
		<servlet-class>com.exedio.cronjob.CronjobManager</servlet-class>
		<init-param>
			<param-name>store</param-name>
			<param-value>com.exedio.cronjob.example.ExampleStore</param-value>
		</init-param>
<!--use to disable all cronjobs on this webserver
		<init-param>
			<param-name>execute</param-name>
			<param-value>false</param-value>
		</init-param>
-->
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cronjob</servlet-name>
		<url-pattern>/cronjob/*</url-pattern>
	</servlet-mapping>
	
</web-app>
